.ghazal * {
  color: #fff
}
.left-x   {text-align: left;}
.center-x {text-align: center;}
.right-x  {text-align: right;}

.brand {
  width: 100%;
  margin-top: 5%;
}
.main-title {
  margin-top: 10%
}

.action-fab, .action-fab:hover {
  position: fixed;
  right: 24px;
  bottom: 24px;
  /*background-color: #009688;
  color: #fff;*/
  z-index: 1;
}