.removeService ,
.removeOption {
    border: none;
}

.removeService:hover,
.removeOption:hover {
    background-color: #f00;
}
.login-link-text,
.login-close-text {
    display: none
}

#login-buttons {
    display: block;
}

#login-dropdown-list {
    margin: 50px auto;
    position: relative;
}

.additional-link-container {
    display: inline-block;
    height: 20px;
    width: 49%;
}

.additional-link-container a {
    padding: 5px 15px;
}