<template name="layout">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header id="header" class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">{{ contextualTitle }}</span>
                <div class="mdl-layout-spacer"></div>
                <nav id="context-menu" class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/search">
                        <button class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">search</i>
                        </button>
                    </a>
                    <a class="mdl-navigation__link" href="">
                        <button id="more-menu" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <!-- <ul id="more-list" class="mdl-menu mdl-menu-/-bottom-right mdl-js-menu mdl-js-ripple-effect" for="more-menu">
                            <li class="mdl-menu__item">Opcion 1</li>
                            <li class="mdl-menu__item">Opcion 2</li>
                            <li class="mdl-menu__item">Opcion n</li> 
                        </ul> -->
                    </a>
                </nav>
            </div>
        </header>
        {{> drawer}}
        <div class="mdl-layout__content">
            <div class="page-content">
                {{> yield}}
            </div>
        </div>
    </div>
</template>

<template name="drawer">
    <div class="mdl-layout__drawer" id="drawer">
        {{> identity}}
        <nav id="module-menu" class="mdl-navigation">
            <a class="mdl-navigation__link" id="quoteStacker" href="/">
                <button id="inicio" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">dashboard</i>
                </button>Cotizacion
            </a>
            <a class="mdl-navigation__link" id="logOut" href="/log">
                <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">exit_to_app</i>
                </button>Salir
            </a>
        </nav>
    </div>
</template>

<template name="identity">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" disabled>
        <i class="material-icons">perm_identity</i>
    </button>
    <span class="mdl-layout-title username">{{name}}</span>
</template>