<!-- <template name="createAccount">
    <form id="createUser">
        <input name="username" type="text" value=""/>
        <input name="email" type="text" value=""/>
        <input name="password" type="password" value=""/>
        <input name="" type="submit" value="crear usuario"/>
    </form>
</template> -->

<template name="createAccount">
	<h2 class="main-title">Crear Usuario</h2>
	<form id="createUser">
		<div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="email" name="email">
		    <label class="mdl-textfield__label" for="email">Email</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="text" name="username">
		    <label class="mdl-textfield__label" for="username">Usuario</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="password" name="password">
		    <label class="mdl-textfield__label" for="password">Contraseña</label>
		</div>
		<input  type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect action-button" value="CREAR"/>
	</form>
</template>
