<template name="log">
    <!-- {{> background}} -->
    <div class="mdl-grid"> <!-- Agregar clase "ghazal" -->
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet center-x">
            <img class="brand" src='' alt="">
            <h2 class="main-title">Bienvenido</h2>
            <form id="login">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="username">
                    <label class="mdl-textfield__label" for="username">Usuario</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" name="password">
                    <label class="mdl-textfield__label" for="password">Contraseña</label>
                </div>
                <a><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    <p class="caption">¿Haz olvidado tu contraseña?</p>
                </button></a>
                <br>
                <input  type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect action-button" value="ENTRAR"/>
            </form>
            <div class="inscription">
                <!-- <p class="caption">¿Quieres vender con Ghazal?</p> -->
                <a href='/createAccount'><button id="createAccount" class="mdl-button mdl-js-button mdl-button-/-raised mdl-js-ripple-effect action-button">Crear Cuenta</button></a>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    </div>
</template>
