<template name="services">
  <h4>Ghazal</h4>
  {{#each services}}
  {{> servicio}}
  {{/each}}
  <button id="addService">
    add service
  </button>
</template>

<template name="servicio">
  <input type="text" class="service" value={{name}} />
  <button class="removeService"> - </button>
  <ul>
    {{#each options}}
    <input class="name" type="text" value={{name}}  data-value="{{@index}}"/>
    <input class="price" type="text" value={{price}} data-value="{{@index}}"/>
    <button class="removeOption"> - </button>
    <br/>
    {{/each}}
    <br/>
    <button class="addOption">agregar opcion</button>
  </ul>
</template>
