<template name="quote">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--4-col">
      {{#each quote}}
      {{> cost}}
      {{/each}}
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    <div>
      <!-- <a href='quote/createQuote'> -->
        <button id="newQuote" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--raised action-fab">
          <i class="material-icons">add</i>
        </button>
      <!-- </a> -->
    </div>  
  </div>
</template>

<template name="cost">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="newCost">
    <label class="mdl-textfield__label" for="newCost">Nuevo Costo</label>
  </div>
  <div>
    <button id="removeCost" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">remove</i>
    </button>
  </div>
  <ul>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="itemName">
      <label class="mdl-textfield__label" for="item">Nombre</label>
      <input class="mdl-textfield__input" type="number" id="itemValue">
      <label class="mdl-textfield__label" for="newCost">Valor</label>
    </div>
    <button id="newItem" class="mdl-button mdl-js-button mdl-button--icon">add</button>
  </ul>
</template>